

  body {
    text-align: right;
    padding: 15px  50px;
    font-family: sans-serif;
    margin-top: 50px;
    }
    
    
  h1 {
    text-align: right;
    width: 100%;
  }
  img {
    padding: none;
  }
  .First_sentence {
    color: #555577;
  }
  
  .background_blue {
    background-color: #b0c4de;
    text-align: center;
    margin: 0px;
  }
  .center1 {
    text-align: center;
  }
  p {
    line-height: 1.6;
    margin-top: 0px;
  }
  td {
    margin: 200px;
    padding: 5px;
  }
  .table_1 {
    background-color: #f9f9f9;
    border: 1px solid #aaaaaa;
  }
  .table_picture {
    width: 100%;
  }
  a {
    text-decoration: none;

  }
  a:hover {
    text-decoration: pointer;
    text-decoration: underline;
  }
  #table_11{
  text-align: right;
  
  }
  li {
    padding: 5px
  }
  .Change_font-family {
    font-family: David,serif;
    font-size: 120%;
  }
  th {
    text-align: center;
  }
  #Header_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Languges {
    display: inline;
  }
  h2 {
    margin-bottom: 5px;
  }
  #Languages_left {
    color: #3366cc;
    font-weight: bold;
  }
  #Languages_left:hover {
    cursor: pointer;
    background-color: #3366cc41;
  }
  .Lock_image {
    text-align: left;
    cursor: pointer;
  }
  .Row_image {
  margin-right: 30px;
  }