* {

}
  
  body {
    /* background-color: aquamarine; */
    text-align: right;
    padding: 15px  200px;
    font-family: sans-serif;  }
  h1 {
    text-align: right;
    width: 85%;
    /* padding: 4rem; */
  }
  img {
    padding-right: 50px;
    padding-top: 15px;
  }
  /* .aaa {
    text-align: center;
  } */
  .background_blue {
    background-color: #b0c4de;
    text-align: center;
  }
  .center1 {
    text-align: center;
  }
  td {
    margin: 200px;
    padding: 10px;
  }
  .table_1 {
    background-color: #f9f9f9;
    border: 1px solid #aaaaaa;
  }
  a {
    text-decoration: none;

  }
  a:hover {
    text-decoration: pointer;
    text-decoration: underline;
  }
  #table_11{
text-align: right;
  }
  